#fullName{
  background-color: #008081;
  color: #FFFFFF;
  font-family: "Garamond";
  text-align: center;
  font-size: 25px;
  border-radius: 30px;
 
}

#resumePage{
  width: 60%;
  margin: auto;
}

#resumePage #ProfessionalImage img{
  height: 150px;
  width: 900px;
  border: 30px #333366;
  color: #FFFFFF;
}

.ResumeExperience {
  font-family: "Garamond";
  margin-bottom: 100px;
  color: #FFFFFF;

}

body{
  background-color:black;
  color: #FFFFFF;
}

.section{
  background-color: #008081;
}

#link img{
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}